<!DOCTYPE html>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>智能健康手环-测量心率，体温，脉搏，定位</title>
    <meta name="description" content="智能健康手环-实时测量心率、脉搏、体温、位置，记录您身体的每时每刻，为您打造健康生活！">
    <meta name="Keywords" content="智能健康手环，测量心率，测量脉搏，测量体温，实时定位">
    <!--禁止移动端缩放网页-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base.css}" href="css/base.css">
    <link rel="stylesheet" th:href="@{/css/userinfo.css}" href="css/css.css">
	<script>
			function jump(){
			 window.location.href="http://localhost:8080/watch/main.html";
			}
	</script>
	<script>
function validate() {
    var pwd1 = document.getElementById("newPassword").value;
    var pwd2 = document.getElementById("rePassword").value;
 
    if(pwd1 == pwd2)
     {
        document.getElementById("tishi").innerHTML="<span style="color: green; ">密码相同</span>";
        document.getElementById("button").disabled = false;
     }
	else {
        document.getElementById("tishi").innerHTML="<span style="color: red; ">密码不同</span>";
        document.getElementById("button").disabled = true;
     }
}
</script>
</head>

<body>
<!--背景图片-->
<img id="bg" class="bg" th:src="@{img/index_bg_xl.jpg}" src="../images/index_bg_xl.jpg">
<!--导航-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div th:replace="~{data/heart::navbar}"></div>
</nav>
<!--内容-->
<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">修改密码</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <form name="loginform" method="post" th:action="@{/updatePW}" action="/Chapter1/updatepw.do">
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                                <label>用户名</label>
                                <span class="text" th:text="${user.userName}"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                                <label>原始密码</label>
                                <input type="password" class="form-control" name="oldPassword" placeholder="请输入密码" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                                <label>新密码</label>
                                <input type="password" class="form-control" name="newPassword" placeholder="请输入密码" >
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                                <label>确认密码</label>
                                <input type="password" class="form-control" name="rePassword" placeholder="请输入密码"  onkeyup="validate()"><span id="tishi"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                                <p><a href="#">没有账号？点我注册</a></p>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                    <button type="button" class="btn btn-outline-danger" onclick=javascript:jump()>&nbsp;返&nbsp;回&nbsp;</button>
                    <button type="submit" class="btn btn-outline-success">&nbsp;提&nbsp;交&nbsp;</button>
                </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div th:replace="~{data/heart::footerbar}"></div>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
